header {
  background: $header;
}

.button-header {
  background: $header;
  border: 1.5px solid $color;
  border-radius: 3px;
  color: $color;
  height: 30px;
  margin: 5px;
  width: 65px;
}

.button-header:hover {
  background: $highlight;
}

.container-buttons-header {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  width: 15%;
}

.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 83%;
}

.header-Artifacts {
  height: 45px;
  margin: 0 0 0 5px;
  padding: 0;
}

.header-Artifacts:hover {
  
}

.home-header {
  height: 45px;
  margin: 0;
  padding: 0;
  width: 15%;
}

i {
  color: $color;
  font-size: 25px;
  margin: 5px;
  object-fit: cover;
}

i:hover {
  color: $highlight;
}
