.button-header {
  background: $background;
  border: 1.5px solid black;
  border-radius: 3px;
  height: 30px;
  margin: 5px;
}

.button-header:hover {
  background: $color;
  color: $background;
}

.container-buttons-header {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.container-header {
  align-items: center;
  /* border: 1px solid $lines; */
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container-header > h1 {
  flex-grow: 1;
  margin: 0 0 0 5px;
  padding: 0;
}

.home-header {
  color: inherit;
  text-decoration: inherit;
}

i {
  color: $color;
  font-size: 25px;
  margin: 5px;
  object-fit: cover;
}

a {
  text-decoration: none;
}
