.item-offer-container {
  margin: 10px auto 10px auto;
  width: 83%
}

.item-offer-header {
  margin: 0;
}

.item-offer-banner {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.item-offer-headline {
  margin: 20px 0;
  display: flex;
  justify-content: space-between; 
}

.item-offer-headline > p {
  margin: 5px 0;
}

.item-offer-headline > h3 {
  margin: 0;
  padding: 0;
}

.item-offer-main{
margin-top: 10vh;
}

.item-offer-context{
  margin-top: 8vh;
}

::placeholder{
  text-align: center;
}

.item-offer-submit {
  background: $highlight;
  border: none;;
  border-radius: 20px;
  color: $color;
  font-weight: 800;
  font-size: 15px;
  height: 45px;
  margin: 30px 0 5px 0;
  width: 140px;
}

.squares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5vh;
  position: relative;
  right: 4vw;
}

.main-sec {
  width: 50vw;
  height: 50vh;
}

.box {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  padding: 70px;
  border-radius: 5px;
  margin-left: 5vw;
  text-align: centerc;
}

.section {
  display: flex;
  justify-content: space-around;
}

.breifcase {
  font-size: 50px;
  font-weight: 200;
  position: relative;
  left: -1rem;
  bottom: 2rem;
}

.discription-box {
  width: 40vw;
  height: 54vh;
  border: 1px solid black;
}


.item-offer-submit:hover {
  background:$lines;
  color: $background;
}

.item-edit-input {
  background: $card;
  border: none;
  font: $font;
  font-style: italic;
  margin: 1px 0;
  width: 50%;
}

.item-edit-input2 {
  background: $card;
  border: none;
  font: $font;
  font-style: italic;
  margin: 1px 0 1px 5px;
  text-align: center;
   width: 20%;
}

.item-edit-flex {
  align-items: flex-start;
  display: flex;
  justify-content:space-between;
}
