.user-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px 1fr;
  margin: 20px auto 10px auto;
  /*  width: 94%; */
}

.user-header {
  // background: blue;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 50px 250px 1fr;
  grid-template-rows: 110px 90px 70px;
}

.user-banner {
  border-radius: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.user-picture {
  border-radius: 100%;
  grid-column: 2;
  grid-row: 2 / -1;
  height: 200px;
  object-fit: cover;
  width: 200px;
  /*   z-index: 1; */
}

.user-headline {
  grid-column: 3 / -1;
  grid-row: 3 / -1;
  /*   height: 70px; */
}

.user-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  padding: 70px 0 0 50px;
}

.user-sidebar-contact {
  align-items: center;
  display: flex;
  margin: 0 0 15px 0;
  padding: 0;
}

.user-sidebar-contact > p {
  margin: 0;
  padding: 0;
}
.user-sidebar-review > p {
  margin: 0 0 4px 0;
  padding: 0;
}

.user-main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.user-main-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-main-bar > button {
  background: $background;
  border: 3px solid $lines;
  border-radius: 20px;
  color: $color;
  font-weight: 800;
  font-size: 15px;
  height: 45px;
  margin: 0 0 25px 0;
  width: 140px;
}

.user-main-bar > button:hover {
  background: black;
  color: white;
}

.user-main-bar > button:focus {
  background: black;
  color: white;
}

.user-h2 {
  margin: 0 0 8px 0;
}

.user-h3 {
  margin: 0 0 8px 0;
}
.user-edit-flex {
  display: flex;
  justify-content: space-between;
}

.edit-component {
  width: 98%;
}

.user-edit-input {
  background: $highlight;
  border: none;
  font: $font;
  font-style: italic;
  margin: 1px 0;
  width: 85%;
}

.user-edit-button {
  background: $background;
  border: 3px solid $lines;
  border-radius: 20px;
  color: $color;
  font: $font;
  font-weight: 800;
  font-size: 15px;
  height: 35px;
  margin: 20px 4px 0 0;
  width: 100px;
}

.user-edit-button:hover {
  background: black;
  color: white;
}

.user-headline > a > p {
  color: $color;
  font: $font;
  margin: 5px 0;
}

.user-headline > h3 {
  margin: 0;
  padding: 0;
}

.user-details {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.list-artifacts-services {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: flex-start;
  overflow-y: scroll;
}

.user-main-context {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: flex-start;
  overflow-y: scroll;
}

.profile-about-me {
  white-space: pre-line;
}
