.search-bar {
  background-color: rgb(93, 30, 134);
  border: 1px solid $lines;
  border-top: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}

.search-bar > button {
  background-color: rgb(93, 30, 134);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
}

.search-bar > button:hover {
  background-color: $background;
  border-radius: 40px;
  color: $color;
}
