.search-bar {
  border: 1px solid $lines;
  border-top: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}

.search-bar > div {
  border-radius: 40px;
  padding: 10px;
  text-align: center;
}

.search-bar > div:hover {
  background-color: rgb(73, 27, 73);
  color: white;
  font-size: larger;
}
