.search-bar {
  align-items: center;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0;
  width: 60%;
}

@media only screen and (max-width: 900px) {
  .search-bar {
    display: none;
  }
}

.search-bar-button {
  background: $header;
  border: none;
  color: $color;
  font-size: smaller;
  padding: 10px 0;
  text-align: center;
  width: 125px;
}

.search-bar-button:hover {
  background-color: $highlight;
  border-radius: 40px;
}

.search-bar-button:focus {
  background-color: $highlight;
  border-radius: 40px;
}