.search-page {
  border: none;
  margin: 10px auto 0 auto;
  padding: 0px;
  width: 83%;
}

.search-page-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results-scroll {
  height: 300px;
  overflow-y: scroll;
}

.search-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-button {
  background: $highlight;
  border: 1px solid $lines;
  border-radius: 100%;
  color: $color;
  font-size: 15px;
  height: 75px;
  margin: 0 5px 5px 0;
  text-align: center;
  width: 75px;
}

.search-button:hover {
  border: 1px dotted $lines;
  font-size: 20px;
}

.clear-button {
  background: $background;
  border: 1px solid $lines;
  border-radius: 100%;
    color: $color;
  font-size: 15px;
  height: 75px;
  margin: 0 5px;
  text-align: center;
  width: 75px;
}

.clear-button:hover {
  border: 1px dotted $lines;
  font-size: 20px;
  height: 75px;
  width: 75px;
}

.all-filter-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .search-page {
    width: 99%;
  }
}

@media only screen and (max-width: 1000px) {
  .all-filter-container {
    flex-wrap:wrap;
  }
  .one-filter-container {
    width: 200px;
  }
  .search-results-scroll {
    height:500px;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  outline: none;
}

.search-container > input {
  background: $background;
  border: 1px solid $lines;
  border-radius: 15px;
  padding: 8px 250px;
  text-align: center;
  font-style: italic;
}

@media only screen and (max-width: 685px) {
  .search-container > input {
    padding: 8px 100px;
  }
}

.one-filter-container {
  font-size: 15px;
  margin: 0 0.5% 10px 0.5%;
  min-width: 19%;
}

.all-filter-input {
  background: $search;
  //border: 1px solid $lines;
  border-radius: 15px;
  height: 130px;
  padding: 15px 10px 10px 10px;
}

.all-price-input {
  background: $search;
  display: flex;
  //border: 1px solid $lines;
  border-radius: 15px;
  flex-direction: column;
  height: 135px;
  padding: 15px 10px 10px 10px;
}

.one-filter-input > input {
  border: 1px solid $lines;
  margin: 10px 5px 0 0;
}

.one-filter-headline {
  //border: 1px solid $lines;
  background: $highlight;
  border-radius: 15px;
  color: $background;
  font-size: 15px;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

.price-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.price-bar > input {
  border: 1px solid $lines;
  border-radius: 10px;
  color: $color;
  padding: 5px 0;
  text-align: center;
  width: 25%;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.price-bar > p {
  margin: 0;
  padding: 0;
}

.price-label-bar {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 30px 15px;
  margin: 0;
}

.price-label-bar > p {
  padding: 0;
  margin: 0;
}

.freeStuffOnly-label {
  padding: 0 5px 0 0;
}

.search-input{
  outline: none;
}
