body {
  background: $background;
  color: $color;
  font-family: $font;
  margin: 0 auto;
  width: 80%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.link {
  cursor: pointer;
}
