// Colors
$color:#073B4C;
$background: white;
$font: "Montserrat", sans-serif;
$header: #FDEB8E;
$highlight: #FF928B;
$lines: #073B4C;
$profile: #CDEAC0;
$search: #CDEAC0;
$card:rgba(205, 234, 192, 0.4);
$offer: #C4C4C4;

// Spacing
