@import "./base/settings";
@import "./base/base";
@import "./components/header";
@import "./components/itemCard";
@import "./components/item-popover";
@import "./components/landing-page";
@import "./components/offerArtifact";
@import "./components/profile";
@import "./components/search-bar";
@import "./components/search-page";
@import "./components/mobileNavBar";
@import "./components/not-found";
@import "./components/contact-form";

//making cute scroll bars hehe

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #bbb; 
}
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}
::-webkit-scrollbar-track:hover {
    background: rgba(225, 225, 225, 0.5);
}

//little surprise for steffi hehe 

/*:hover {
    border: 5px dotted $highlight;
    border-radius: 100%;
}*/
